@keyframes sway {
  0%   { transform: rotate(-10deg); }
  50%  { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  place-items: normal;
  display: block;
}

.main {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh; 
  justify-content: center;
  width: 100%;

  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  padding: 3rem;
  background-color: #f5f0ea;
  border: 5px solid #cdc2b4;
  border-radius: 16px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.title {
  font-size: 4rem;
  text-align: center;
  font-family: cursive;
  color: #cdc2b4;
  font-weight: bold;
  margin: 0;
}

.sign {
  color: #7d766c;
  font-size: 1rem;
}

.present-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* present.tsx */
.present-image-container {
  width: 150px;
  animation: sway 1.5s ease-in-out infinite;
  transform-origin: center bottom;
}


.present-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;

}

.modal {
  border: .5rem solid rgb(126, 0, 0);
  border-radius: 1rem;
  z-index: 999;
  background-color: rgb(254, 221, 227);
}

.button-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: .5rem;
  /* border: 2px solid red; */
}

.close {
  background-color: rgb(126, 0, 0);
  color: white;
  border-radius: 1rem;
  border: 4px solid  rgb(126, 0, 0);
  transition: background-color 0.25s ease;
}

.close:hover {
  background-color: rgb(254, 221, 227);
  color: rgb(126, 0, 0);
  border-color:  rgb(126, 0, 0);
}

.download-image {
  background-color: rgb(126, 0, 0);
  color: white;
  padding: .5rem;
  border-radius: 1rem;
  border: 4px solid  rgb(126, 0, 0);
  transition: background-color 0.25s ease;
}

.download-image:hover {
  background-color: rgb(254, 221, 227);
  color: rgb(126, 0, 0);
  
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem;
    max-width: 600px;
  }

  .title {
    font-size: 3rem;
  }

  .present-grid {
    gap: 1.5rem;
  }

  .present-image-container {
    width: 130px;
    animation-duration: 1.8s;
  }

  .modal {
    max-width: 85vw;
  }

  .present-image {
    /* height: 220px; */
  }
}


@media (max-width: 640px) {
  .main {
    padding: 1rem;;
  }

  .container {
    padding: 1.25rem;
    margin-top: 1rem;
    border-width: 3px;
    max-width: 400px;
  }

  .title {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .present-grid {
    gap: 1rem;
  }

  .present-image-container {
    width:90px;
    animation-duration: 2.2s;
  }

  .modal {
    max-width: 95vw;
    position: absolute;
    margin-top: 3rem;
  }

  .present-image {
    /* height: 250px; */
  }

  .button-container {
    flex-direction: column;
    gap: 0.75rem;
  }

  .close,
  .download-image {
    width: 100%;
    text-align: center;
  }
}
